@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 1rem;
  background-image: url('https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?cs=srgb&dl=clouds-dawn-dramatic-1118873.jpg&fm=jpg');
  background-size: cover;

}

.header {
  margin-bottom: 1rem;
}

 .jumbotron {
  background: #000;
  opacity: 0.5
 }